<!-- Header -->
<%- include("partials/header", {title: statusCode}) %>
<!-- Header END -->
<main id="main">
  <article class="container-lg pt-5 c-pb-64">
    <h1 class="ms-3">🙈 <%= `${statusCode}: ${message}` %></h1>
  </article>
</main>
<!-- Footer -->
<%- include("partials/footer") %>
<!-- Footer END -->